{% extends "admin/change_form.html" %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block object-tools-items %}
  {% if original %}
    <li>
      <a href="#" class="ss-action-permissions addlink">Group Action Permissions</a>
    </li>
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block content %}
  {{ block.super }}
  <script>
    var $ = jQuery = django.jQuery;
    $('.ss-action-permissions').click( (e) => {
      alert(e.target.text);
    });
  </script>
{% endblock %}
